
body{
    font-family: helvetica,tahoma,arial, sans-serif;
    font-size:13px;
    line-height: 1;

}
#container{
    margin:10px auto;
    width: 1100px;
    background-image: url(/images/home1.jpg) ;
    background-repeat:no-repeat;
}

#logo{

    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(182, 211, 228)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */

    height: 40px; padding: 10px;
}
#logo form{
    float: left;
}
#imglogo{
    margin-left: 15px;
    margin-right: 5px;
    margin-top: -6px;
    color: #ffffff;
    float: left
}
#titlelogo {
    color: #FFFFFF;
    float: left;
    font-size: 17px;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 13px;
}
#logo input{
    width: 400px;
    border-radius: 10px;
    height: 30px;
}

#content{
    font-size: 1.2em;
    width:1100px; height: 850px;
    line-height: 1.5em;
    background-color: azure;
    background-image: url(/images/home1.jpg) ;
    background-repeat:no-repeat;
}
#sidebar{
    float: left;
    width:208px;
    margin: 15px 10px 50px 15px;
    padding: 10px;
    height: 400px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
#sidebar h2{
    color:#a3d2ff;
    font-size: 15px;
    margin-top: -5px;
    border-bottom: 1px solid #F5F2F2;
}
#sidebar ul{
    margin-left: -15px;
}

#sidebar ul li a {
    text-decoration: none;
    color: #DADFC1;
    font-size: 12px;
}
#sidebar button {
    border-radius: 5px;
}
#primary{
    padding-top: 18px;

}
#title{

}
#detail{
    margin-top: 100px;
    margin-left: 5px;
    width:250px;
    float:left;
}
.datetime{
    margin-left: 10px;
    color: #ffffff
}
.iconweather{
    float: left;
    width: 50px;
}
.descriptionweather{
    color: aliceblue;
    margin-bottom: 5px;
    margin-top: 14px;
}
.tempweather{
    color: #F0F8FF;
    float: left;
    overflow: hidden;
    width: 150px;
    margin: -10px 110px 40px 8px;
}
.maintemp{
    float: left;
    color:aliceblue
}
#forecast{
    margin-top: 100px;
    margin-left: 5px;
    float:left;
    width: 500px;
    height: 200px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
#forecast h2{
    color:#a3d2ff;
    margin-top: 5px;
    border-bottom: 1px solid #F5F2F2;
    margin-left: 5px;
    font-size: 22px;
}
.forcastname{
    color: aliceblue;
    font-size:15px;
}
.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1tagspx 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:3px 9px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
}
.myButton:active {
    position:relative;
    top:1px;
}
.ui-autocomplete-loading { background:url('/images/loading.gif') no-repeat right center;background-color: #ffffff }

.favouritelink {
    background-color:transparent;
    border:0px solid #DADFC1;
    display:inline-block;
    cursor:pointer;
    color:#DADFC1;
    font-family:arial;
    font-size:15px;
    text-decoration:none;
}

.favouritelink:active {
    position:relative;
    top:1px;
}


span.tooltips {
    position: relative;
    display: inline;
}
span.tooltips span {
    position: absolute;
    width:160px;
    color: #FFFFFF;
    background: #126696;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    font-size: 12px;
}
span.tooltips span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #126696;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
span:hover.tooltips span {
    visibility: visible;
    opacity: 0.8;
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}