<!doctype html>
<html ng-app="ScratWeatherModule">
<head>
  <meta charset="utf-8">
  <title></title>
  <script>
    var flagURL = 'http://openweathermap.org/images/flags/';
      $(function() {
          $( "#tags" ).autocomplete({
              source: '/weather/searchweather',
              focus: function(event, ui) {
                  return false;
              },
              select: function(event, ui) {
                  $(this).val( ui.item.name + ', ' + ui.item.sys.country );
                  var scope = getScope();
                  scope.$apply(function(){
                      scope.displaySelectedWeather(ui.item);
                  });
                  return false;
              }
          }).data( "ui-autocomplete" )._renderItem = function(ul, item) {
              var scope = getScope();
              return $( "<li>" )
                      .append( "<a>" + "<b>" + item.name + ', ' + item.sys.country + "</b>" +" <img alt='' src='" + flagURL
                              + item.sys.country.toLowerCase() + ".png"  +  "'/> " + item.weather[0].description
                              + "<br>" + item.main.temp + '°' + scope.tempSymbol + ' | temperature from ' + item.main.temp_min +'°'
                              + scope.tempSymbol + ' to ' + item.main.temp_max + '°' + scope.tempSymbol + "</a>" )
                      .appendTo( ul );
          };
      });
    function  getScope() {
        return angular.element($("html .ng-scope")).scope();
    }
  </script>
</head>
<body>
<div id="container">
  <div id="logo">
    <div id="imglogo">
      <img src="/images/logoScrat.png" height="50px" width="50px">
    </div>
    <div id="titlelogo" >
      Weather Forecast
    </div>
    <div style="float: left;margin-left: 15px;">
      <form>
        <input id="tags"  placeholder=" Enter city or Zip code" />
      </form>
    </div>
  </div><!--end logo-->

  <div id="content" ng-controller="ScratWeatherController">
    <div id="sidebar">
      <h2>Favourite Location</h2>
      <div>
        <ul style="list-style-type: none;">
          <li ng-repeat="favorite in favoriteslocation track by $index">
            <input type="checkbox" ng-model="favorite.done">
            <a ng-class="{'done':favorite.done}" href="javascript:void(0)" ng-click="displayWeatherbySelectFavourite(favorite.cityid)"  id="linkfavourite">{{favorite.cityname}} ({{favorite.country}})</a>
          </li>
        </ul>
        <span style=" font-size: 14px;">Click +  to save cities</span><br>
        <div style="float: left"><button ng-click="removeFavouriteCity()" class="myButton">Remove</button></div>
      </div>
    </div><!--end sidebar-->

    <div id="primary" ng-if="showcontent">
      <div id="title">
        <span ng-model="newCity" style="font-size: 29px;color: aliceblue;">{{cityname}}</span>
        <button class="myButtonPlus" ng-click="addFavouriteCity()" ng-hide="showButton()"><strong>+</strong></button>
        <button class="myButtonMinus" ng-click="minusFavouriteCity()" ng-show="showButton()"><strong>-</strong></button><br>
        <span style="font-size: 15px;color: aliceblue;">{{cityname}}, {{country}}</span>
      </div><!--end title-->

      <div id="detail">
        <div class="iconweather">
          <img src="http://openweathermap.org/img/w/{{iconweather}}.png">
        </div>
        <div class="descriptionweather">
          <span>{{weatherdescription | capitalize}}</span>
        </div>
        <div class="tempweather">
          <table style="width:100px">
            <tr>
              <td><img src="/images/arrow-up.png" width="15px"><div style=" font-size: 22px; margin-left: 22px;margin-top: -31px;">{{temp_max | number:0 }}°</div></td>
              <td><span style="margin-left:10px"></span></td>
              <td><img src="/images/arrow-down.png" width="15px"><div style=" font-size: 22px; margin-left: 22px;margin-top: -31px;">{{temp_min  | number:0}}°</div></td>
            </tr>
          </table>
        </div>

        <div class="maintemp">
          <table style="width:100px">
            <tr>
              <td><span style="font-size: 100px;margin-left: 10px;">{{temp | number:0}}</span></td>
              <td> <div style="margin-top: -60px;font-size: 26px;">o</div>
              <div style="margin-top: -22px;margin-left: 19px;"> <button id="btnSwitchTemp" class="myButton" ng-click="switchTemperatureUnit()">C</button></div></td>
            </tr>
          </table>
        </div>

      </div><!--end detail-->

      <div id="forecast">
        <h2>Forecast</h2>
        <table style="width:450px">
          <tr ng-repeat="forecast in forecastData">
            <td class="forcastname">{{ displayForecastDay(forecast.dt) }}</td>
            <td><img src="http://openweathermap.org/img/w/{{forecast.weather[0].icon}}.png "></td>
            <td class="forcastname">{{forecast.temp.max | number:0 }}°{{tempSymbol}}</td>
            <td style=" font-size:15px">{{forecast.temp.min | number:0}}°{{tempSymbol}}</td>
          </tr>
        </table>
      </div><!--end forecast-->

    </div><!--end primary-->
  </div><!--end content-->
  <div id="footer">
  </div><!--end footer-->
</div><!--end container-->
</body>
</html>