<!doctype html>
<html ng-app="ScratWeatherModule">
<head>
  <meta charset="utf-8">
  <title></title>
  <script>
    var flagURL = 'http://openweathermap.org/images/flags/';
      $(function() {
          $( "#tags" ).autocomplete({
              source: '/weather/searchweather',
              focus: function( event, ui ) {
                  //$(this).val( ui.item.name + ', ' + ui.item.sys.country );
                  return false;
              },
              select: function( event, ui ) {
                  $(this).val( ui.item.name + ', ' + ui.item.sys.country );
                  scope = angular.element($("#content")).scope();
                  scope.$apply(function(){
                      scope.displaySelectedWeather(ui.item);
                  });
                  return false;
              }
          }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
              return $( "<li>" )
                      .append( "<a>" + "<b>" + item.name + ', ' + item.sys.country + "</b>" +" <img alt='' src='" + flagURL
                              + item.sys.country.toLowerCase() + ".png"  +  "'/> " + item.weather[0].description
                              + "<br>" + item.main.temp + '°C' + ' | temperature from ' + item.main.temp_min +'°С'
                              + ' to ' + item.main.temp_max +'°С' + "</a>" )
                      .appendTo( ul );
          };
      });
  </script>
</head>
<body>

<div id="container">

  <div id="logo">
    <form>
      <label  style="color: azure;font-weight: bolder;" for="tags">Scrat Weather Forecast  </label>
      <input id="tags" ng-model="keyss" placeholder=" Enter city or Zip code" />
    </form>
  </div><!--end logo-->
  <div id="content" ng-controller="ScratWeatherController">
    <div id="primary">
      <h2>Favourite Location</h2>
      <div>
        <ul style="list-style-type: none;">
          <li ng-repeat="favorite in favoriteslocation track by $index | filter:newCity ">
            <input type="checkbox" ng-model="favorite.done">
            <a ng-class="{'done':favorite.done}" href="#" id="linkfavourite">{{favorite.cityname}} ({{favorite.country}})</a>
          </li>
        </ul>
        <span style=" font-size: 14px;">Click +  to save cities</span><br>
        <div style="float: left"><button ng-click="clearCompleted()" class="myButton">Remove</button></div>
      </div>
    </div><!--end primary-->

    <div id="sidebar">

      <div id="title">
        <span ng-model="newCity" style="font-size: 29px;color: aliceblue;">{{cityname}}</span>
        <button class="myButton" ng-click="addTodo()" ng-hide="showButton()"><strong>+</strong></button>
        <button class="myButton" ng-click="removeFL()" ng-show="showButton()"><strong>-</strong></button><br>
        <span style="font-size: 15px;color: aliceblue;">{{cityname}}, {{country}}</span>
      </div><!--end title-->

      <div id="detail">
        <div class="iconweather">
          <img src="http://openweathermap.org/img/w/{{iconweather}}">
        </div>
        <div class="descriptionweather">
          <span>{{weatherdescription}}</span>
        </div>
        <div class="tempweather">
          <span>{{temp_max}}</span> - <span> {{temp_min}} </span>
        </div>

        <div class="maintemp">
          <span style="font-size: 100px;">{{temp | number:0}}</span>
          <div style="margin-left: 110px;margin-top: -85px;overflow: hidden;font-size: 26px;">o
            <button class="myButton">C</button>
          </div>
        </div>

      </div><!--end detail-->


      <div id="forecast">
        <h2>Forecast</h2>
        <table style="width:450px">
          <tr>
            <td class="forcastname">Today</td>
            <td><img src="/images/mua.png"></td>
            <td class="forcastname">36 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
            <td style=" font-size:15px">26 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
          </tr>
          <tr>
            <td class="forcastname">Tomorrow</td>
            <td><img src="/images/mua.png"></td>
            <td class="forcastname">36 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
            <td  style=" font-size:15px">26 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
          </tr>
          <tr>
            <td class="forcastname">Wednesday</td>
            <td><img src="/images/mua.png"></td>
            <td class="forcastname">36 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
            <td  style=" font-size:15px">26 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
          </tr>
          <tr>
            <td class="forcastname">Thursday</td>
            <td><img src="/images/mua.png"></td>
            <td class="forcastname">36 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
            <td  style=" font-size:15px">26 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
          </tr>
          <tr>
            <td class="forcastname">Friday</td>
            <td><img src="/images/mua.png"></td>
            <td class="forcastname">36 <div style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
            <td  style=" font-size:15px">26 <div style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
          </tr>
        </table>
      </div><!--end forecast-->

    </div><!--end sidebar-->
  </div><!--end content-->
  <div id="footer">
    <img src="" alt="Smiley face" height="42" width="42">
  </div><!--end footer-->
</div><!--end container-->
</body>
</html>