<!doctype html>
<html ng-app="ScratWeatherModule">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Autocomplete - Default functionality</title>

  <script>
      $(function() {
          var availableTags = [
              "ActionScript",
              "AppleScript",
              "Asp",
              "BASIC",
              "C",
              "C++",
              "Clojure",
              "COBOL",
              "ColdFusion",
              "Erlang",
              "Fortran",
              "Groovy",
              "Haskell",
              "Java",
              "JavaScript",
              "Lisp",
              "Perl",
              "PHP",
              "Python",
              "Ruby",
              "Scala",
              "Scheme"
          ];
          $( "#tags" ).autocomplete({
              source: availableTags
          });
      });
  </script>
</head>
<body>

<div id="container">
  <div id="logo">
    <form>
      <label  style="color: azure;font-weight: bolder;" for="tags">Scrat Weather Forecast  </label>
      <input id="tags" ng-model="keyss" placeholder=" Enter city or Zip code"> {{keyword}}
    </form>
  </div><!--end logo-->
  <div id="content" ng-controller="ScratWeatherController">
    <div id="primary">
      <h2>Favourite Location</h2>
      <div>
        <ul style="list-style-type: none;">
          <li ng-repeat="favorite in favoriteslocation track by $index | filter:newCity ">
            <input type="checkbox" ng-model="favorite.done">
            <a ng-class="{'done':favorite.done}" href="index.html.erb/{{favorite.city}}">{{favorite.city}}</a>
          </li>
        </ul>
        <span style=" font-size: 14px;">Click +  to save cities</span><br>
        <div style="float: left"><button ng-click="clearCompleted()" class="myButton">Remove</button></div>
      </div>
    </div><!--end primary-->
    <div id="sidebar">

      <div id="title">
        <span ng-model="newCity" style="font-size: 29px;color: aliceblue;">{{keyss}}</span>
        <button class="myButton" ng-click="addTodo('{{keyss}}')" ng-hide="showButton()"><strong>+</strong></button>
        <button class="myButton" ng-click="removeFL('{{keyss}}')" ng-show="showButton()"><strong>-</strong></button>
      </div><!--end title-->

      <div id="detail">
        <span style="margin-bottom: 10px; color:aliceblue">Partly Cloudy</span><br>
        <span  style="color:aliceblue">36</span>  <span  style="color:aliceblue"> - </span> <span style="color:aliceblue"> 21 </span> <br>
        <div style="margin-top: 35px; color:aliceblue">
          <span style="font-size: 100px;">28</span>
          <div style="margin-left: 110px;margin-top: -85px;overflow: hidden;font-size: 26px;">o
            <button class="myButton">C</button>
          </div>
        </div>

      </div><!--end detail-->


      <div id="forecast">
        <h2>Forecast</h2>
        <table style="width:450px">
          <tr>
            <td class="forcastname">Today</td>
            <td><img src="/images/mua.png"></td>
            <td class="forcastname">36 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
            <td style=" font-size:15px">26 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
          </tr>
          <tr>
            <td class="forcastname">Tomorrow</td>
            <td><img src="/images/mua.png"></td>
            <td class="forcastname">36 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
            <td  style=" font-size:15px">26 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
          </tr>
          <tr>
            <td class="forcastname">Wednesday</td>
            <td><img src="/images/mua.png"></td>
            <td class="forcastname">36 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
            <td  style=" font-size:15px">26 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
          </tr>
          <tr>
            <td class="forcastname">Thursday</td>
            <td><img src="/images/mua.png"></td>
            <td class="forcastname">36 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
            <td  style=" font-size:15px">26 <div  style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
          </tr>
          <tr>
            <td class="forcastname">Friday</td>
            <td><img src="/images/mua.png"></td>
            <td class="forcastname">36 <div style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
            <td  style=" font-size:15px">26 <div style="margin-top: -27px; font-size: 8px;margin-left: 17px;">o</div></td>
          </tr>
        </table>
      </div><!--end forecast-->

    </div><!--end sidebar-->
  </div><!--end content-->
  <div id="footer">
    <img src="" alt="Smiley face" height="42" width="42">
  </div><!--end footer-->
</div><!--end container-->
</body>
</html>